@font-face {
    font-family: 'Norsebold';
    src: url("../fonts/Norsebold.otf") format('opentype');
}

@font-face {
    font-family: 'Norse';
    src: url("../fonts/Norse.otf") format('opentype');
}

body {
    overflow: hidden;
    background-image: url("../img/background1.jpg");
    background-size: cover;
    background-position: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Norsebold', sans-serif;
    margin: 5px;
}

.parent_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.child_container {
    background-color: transparent;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    padding: 0px 0;
    color: #ffffff
}



