@font-face {
    font-family: 'Norsebold';
    src: url("../fonts/Norsebold.otf") format('opentype');
}

@font-face {
    font-family: 'Norse';
    src: url("../fonts/Norse.otf") format('opentype');
}

body {
    overflow: hidden;
    background-image: url("../img/background1.jpg");
    background-size: cover;
    background-position: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Norsebold', sans-serif;
    margin: 5px;
}

.parent_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.child_container {
    background-color: transparent;
    text-align: center;
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    padding: 0px 0;
    color: white;
    font-family: Norse, sans-serif;
}

.button, button {
    display: inline;
    border-radius: 5px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Norsebold', sans-serif;
    color: black;
    margin: 10px;
    background-color: rgb(124, 150, 171);
    text-decoration: none;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    flex: 1;
}

.column {
    text-align: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    width: 100%;
    text-align: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

input {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 40px;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Norse', sans-serif;
}