.logout-button {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 100px;
    padding: 5px;
    height: 50px;
    font-family: "Norsebold", sans-serif;
    font-size: 30px;
    color: red;
}

.stats-button {
    position: absolute;
    top: 15px;
    padding: 5px;
    left: 150px;
    width: 100px;
    height: 50px;
    font-family: "Norsebold", sans-serif;
    font-size: 30px;
}






