input {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 40px;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Norse', sans-serif;
}

.button {
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto; /* Adjusted margin to center horizontally */
    font-size: 30px; /* Adjusted font size */
    width: calc(90% - 20px); /* Adjusted width considering padding */
    height: 80px; /* Adjusted height */
    font-family: 'Norsebold', sans-serif;
    align-items: center;
}

.logout-button {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 100px;
    padding: 5px;
    height: 50px;
    font-family: "Norsebold", sans-serif;
    font-size: 30px;
    color: red;
}

.stats-button {
    position: absolute;
    top: 15px;
    padding: 5px;
    left: 150px;
    width: 100px;
    height: 50px;
    font-family: "Norsebold", sans-serif;
    font-size: 30px;
}






