{% extends 'base.html' %}

{% block header %}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/fireplace.css')}}">
{% endblock %}

{% block body %}
<div class="parent_container">
    <div class="nickname">
        <h1>nickname</h1>
    </div>
    <div class="child_container">
        <div class="header">
            <div>title</div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/fireplace.js')}}"> </script>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/user_handler.js')}}"></script>
{% endblock %}