<!DOCTYPE html>
<html lang="en"> </html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fireplacemaster.css')}}">
    <title>Fireplace</title>
    {% block header %}
    {% endblock %}
</head>

{% block body %}
<div class = "parent_container">
    <div class="exit-button-container">
        <button class="button" id="leaveButton"> Opuść ognisko </button>
        <script src="{{ url_for('static', filename='js/fireplacemaster.js')}}"></script>
    </div>
    <div class= "child_container">
         <div class="header">
            <h1>Wikingowie</h1>
        </div>
        <ol id="users">
        </ol>
    </div>

    <div class="info-container">
        <div class="username">Username: John Doe</div>
        <div class="room-code">Room Code: ABC123</div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/host_handler.js')}}"></script>
{% endblock %}