{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fireplacemaster.css')}}">
{% endblock %}

{% block body %}
<div class="parent_container">
    <div class="nav">
        <img style="margin-left: 20px" src="{{ url_for('static', filename='img/logoxd.svg')}}" alt="logo">
        <span class="label" style="margin-left: 20px">{{username}}</span>
        <div class="spacer"></div>
        <a id="leaveButton" style="margin-right: 20px" class="smallbutton">Opuść ognisko</a>
    </div>

    <div class="spacer"></div>

    <div class="child_container">
        <h1 style="color: white">{{title}} </h1>
        <h3 style="color: white; font-family: Montserrat">Kod dostępu: {{code}} </h3>
    </div>

    <div class="spacer"></div>

    <div class="child_container">
        <div class="column">
            <h1 style="color: white; margin-bottom: 20px">Wikingowie przy ognisku:</h1>
            <div id="users" class="column"></div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="spacer"></div>
</div>

<script src="{{ url_for('static', filename='js/fireplacemaster.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/host_handler.js')}}"></script>
{% endblock %}