

{% block header %}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/fireplace.css')}}">
{% endblock %}

{% block body %}
<div class = "parent_container">
    <div class="exit-button-container">
        <button class="button" id="leaveButton"> Opuść ognisko </button>
        <script src="{{ url_for('static', filename='js/fireplacemaster.js')}}"></script>
    </div>
    <div class="child_container">
        <div class="header">
            <div>Jesteś na ognisku wikingów!</div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/fireplace.js')}}"> </script>
</div>

<script src="{{ url_for('static', filename='js/update_handler.js')}}"> </script>
{% endblock %}