{% extends 'base.html' %}

{% block header %}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/join.css')}}">
{% endblock %}

{% block body %}
<div class = "parent_container">

    <div>
        <button class="logout-button"> Logout </button>
        <script src="{{ url_for('static', filename='js/logout.js')}}"> </script>
    </div>

    <div>
        <button class="stats-button"> Stats </button>
        <script src="{{ url_for('static', filename='js/stats.js')}}"> </script>
    </div>

    <div class="child_container">
        <div class="column">
            <div class="header">
                <h1>Dołącz do ogniska</h1>
            </div>
            <input type="text" id="code_input_create" placeholder="Podaj kod">
            <button class="button" id="joinButton"> Dołącz </button>
        </div>

        <script src="{{ url_for('static', filename='js/join.js')}}"></script>

        <form class="column" method="post" action="api/fireplace/create">
            <div class="header">
                <h1>Rozpal ognisko</h1>
            </div>
            <input type="text" id="code_input_create" name="code" placeholder="Podaj nazwę">
            <button class = "button">
                Utwórz
            </button>
        </form>
    </div>
</div>

{% endblock %}