{% extends 'base.html' %}

{% block header %}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/join.css')}}">
{% endblock %}

{% block body %}
<div class = "parent_container">

    <div>
        <button class="logout-button"> Logout </button>
        <script src="{{ url_for('static', filename='js/logout.js')}}"> </script>
    </div>

    <div>
        <button class="stats-button"> Stats </button>
        <script src="{{ url_for('static', filename='js/stats.js')}}"> </script>
    </div>

    <div class="child_container">
        <div class="input_container">
            <input type="text" id="code_input_create" placeholder="Podaj nazwę">
            <button class="button" id="joinButton"> Dołącz do ogniska </button>

        <script src="{{ url_for('static', filename='js/join.js')}}"></script>

        <form class="input_container_create" method="post" action="api/fireplace/create">
            <input type="text" id="code_input_create" name="code" placeholder="Podaj nazwę">
            <button class = "button">
                Utwórz ognisko
            </button>
        </form>
    </div>

</div>

{% endblock %}