{% extends 'base.html' %}

{% block header %}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css')}}">
{% endblock %}

{% block body %}
<div class="parent_container">
    <div class="nav">
        <img style="margin-left: 20px" src="{{ url_for('static', filename='img/logoxd.svg')}}" alt="logo">
        <div class="spacer"></div>
        <a href="/auth/login" style="margin-right: 20px" class="smallbutton">Zaloguj się</a>
    </div>

    <div class="spacer"></div>

    <div class="child_container">
        <span class="label" style="font-size: 60pt">Fireplace</span>
    </div>

    <div class="spacer"></div>

    <div class="child_container">

        <form class="column" style="gap:15px" method="post" action="/auth/register">
            <h1 style="color: white">Rejestracja</h1>
            <input type="text" id="nameInput" placeholder="Nazwa użytkownika" name="username" required>
            <input type="password" id="passwordInput" placeholder="Hasło" name="password" required>
            <button class="button"> Zarejestruj </button>
        </form>
    </div>

    <div class="spacer"></div>
</div>
{% endblock %}